@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .br-lg {
        @apply hidden lg:block
    }

    .info-grafis > *:not(:first-child) {
        @apply lg:space-y-3 space-y-2 lg:text-base text-sm
    }

    .table-l>thead>tr>th,
    .table-l>thead>tr>td,
    .table-l>tbody>tr>* {
        padding: 1rem 2rem;
        font-size: .95rem !important;
        line-height: 1rem !important;
    }

    .table-m>tbody>tr>* {
        padding: .4rem .7rem;
        font-size: 0.75rem !important;
        line-height: 1rem !important;
        text-align: center;
    }

    .table-m>tbody>tr:not(:first-child)>th{
        @apply bg-sky-400/50
    }

    .table-m > tbody >tr:not(:first-child) {
        @apply divide-x-2 divide-y-2 divide-slate-100 bg-sky-300/30
    }

    .yt-frame {
        @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full
    }

}